[data-theme="emerald"] #disqus_thread {
  color-scheme: none;
  background-color: red;
  color: #333c4d;
}

[data-theme="forest"] #disqus_thread {
  color-scheme: none;
  background-color: #171213;
  color: #cbc9ca;
}


.card-body:hover{
	background-color:#eaebed;
}
.dark .card-body:hover{
	background-color:#24292e;
}


